<ion-view hide-nav-bar="true">
  <ion-content has-bouncing="false">

<img src="img/header.jpg" class="full-image" class="padding">



<br/><h5 class="custom_title text-center"><b>About Us</b></h5>

<p class="text-center">Mecacom adalah company IT yang memfokuskan kepada network,system development and cloud</p>



<br/><h5 class="custom_title text-center"><b>Follow Us On</b></h5>

<div class="button-bar padding">
  <a class="button button-small icon-left ion-social-facebook button-clear button-assertive"  onclick="window.open('https://www.facebook.com/mecacomtech/', '_system', 'location=yes'); return false;">
  Facebook
</a>
  <a class="button button-small icon-left ion-earth button-clear button-assertive" onclick="window.open('http://hds.eys3.com/', '_system', 'location=yes'); return false;">
  Website
</a>

  <a class="button button-small icon-left ion-social-instagram button-clear button-assertive" onclick="window.open('https://www.instagram.com/mecacomtechnologiessdnbhd/?hl=en', '_system', 'location=yes'); return false;">
  	Instagram
  </a>

</div>





</ion-content>
</ion-view>
